<section data-fls-questions class="home__questions questions">
	<div class="questions__container">
		<div class="questions__body">
			<div class="questions__column column-questions">
				<h2 class="column-questions__title title">Часто спрашивают</h2>
				<div data-fls-spollers data-fls-spollers-one class="column-questions__spollers spollers-questions">
					<details class="spollers-questions__item">
						<summary data-fls-spollers-close class="spollers-questions__title">Вы консультируете по подбору<br>
							комплектующих?</summary>
						<div class="spollers-questions__body">Нет, наш ассортимент гораздо шире. Помимо дронов и
							комплектующих, вы найдёте у нас робототехнику, средства передвижения (электросамокаты,
							электровелосипеды), системы видеонаблюдения, FPV-очки, инструменты и многое другое. Мы предлагаем
							всё для современных технологических решений — от хобби до профессиональных задач.</div>
					</details>
					<details class="spollers-questions__item">
						<summary data-fls-spollers-close class="spollers-questions__title">Вы продаёте только дроны и
							детали<br>
							для них?</summary>
						<div class="spollers-questions__body">Нет, наш ассортимент гораздо шире. Помимо дронов и
							комплектующих, вы найдёте у нас робототехнику, средства передвижения (электросамокаты,
							электровелосипеды), системы видеонаблюдения, FPV-очки, инструменты и многое другое. Мы предлагаем
							всё для современных технологических решений — от хобби до профессиональных задач.</div>
					</details>
					<details class="spollers-questions__item">
						<summary data-fls-spollers-close class="spollers-questions__title">Какие комплектующие подойдут
							новичкам?</summary>
						<div class="spollers-questions__body">Нет, наш ассортимент гораздо шире. Помимо дронов и
							комплектующих, вы найдёте у нас робототехнику, средства передвижения (электросамокаты,
							электровелосипеды), системы видеонаблюдения, FPV-очки, инструменты и многое другое. Мы предлагаем
							всё для современных технологических решений — от хобби до профессиональных задач.</div>
					</details>
					<details class="spollers-questions__item">
						<summary data-fls-spollers-close class="spollers-questions__title">Можно ли вернуть товар, если он
							<br>не
							подошёл?</summary>
						<div class="spollers-questions__body">Нет, наш ассортимент гораздо шире. Помимо дронов и
							комплектующих, вы найдёте у нас робототехнику, средства передвижения (электросамокаты,
							электровелосипеды), системы видеонаблюдения, FPV-очки, инструменты и многое другое. Мы предлагаем
							всё для современных технологических решений — от хобби до профессиональных задач.</div>
					</details>
				</div>
			</div>
			<div class="questions__column column-questions">
				<div class="column-questions__cover">
					<img class="column-questions__image ibg" src="@img/home/questions.png" alt="Изображение">
				</div>
			</div>
		</div>
	</div>
</section>