<div data-fls-complect class="complect__body">
	<h4 class="complect__title">Комплектация</h4>
	<div class="complect__row">
		<div class="complect__item item-complect">
			<div class="item-complect__card">
				<div class="item-complect__cover"><img class="item-complect__image ibg" src="@img/product/complect01.png"
						alt="Изображение"></div>
				<h6 class="item-complect__title">Дрон Mavic 3T</h6>
				<span class="item-complect__quantity">x1</span>
			</div>
		</div>
		<div class="complect__item item-complect">
			<div class="item-complect__card">
				<div class="item-complect__cover"><img class="item-complect__image ibg" src="@img/product/complect02.png"
						alt="Изображение"></div>
				<h6 class="item-complect__title">Защита подвеса</h6>
				<span class="item-complect__quantity">x1</span>
			</div>
		</div>
		<div class="complect__item item-complect">
			<div class="item-complect__card">
				<div class="item-complect__cover"><img class="item-complect__image ibg" src="@img/product/complect03.png"
						alt="Изображение"></div>
				<h6 class="item-complect__title">Пропеллеры серии Mavic 3 Enterprise</h6>
				<span class="item-complect__quantity">x2</span>
			</div>
		</div>
	</div>
</div>