<section data-fls-feedbackhome class="home__feedback feedback-home">
	<div class="feedback-home__container">
		<div class="feedback-home__body">
			<div data-fls-dynamic=".column-feedback-home,767.98,2" class="feedback-home__cover">
				<img class="feedback-home__image ibg" src="@img/home/feedback-home.png" alt="Изображение">
			</div>
			<div class="feedback-home__column column-feedback-home">
				<h2 class="column-feedback-home__title title">Производство дронов</h2>
				<div class="column-feedback-home__description description">
					<p>Мы располагаем необходимыми производственными мощностями для производства дронов и БПЛА самолётного
						типа</p>
					<p>Заполните данные, нажав на кнопку ниже, чтобы оставить заявку на производство. Мы свяжемся с вами в
						кратчайшие сроки, чтобы уточнить детали</p>
				</div>
				<div class="column-feedback-home__links">
					<a data-fls-button href="#"
						class="column-feedback-home__link column-feedback-home__link--orange --icon-arrow-diagonal">К
						заявке</a>
					<a data-fls-button href="#"
						class="column-feedback-home__link column-feedback-home__link--border">Свяжитесь со мной</a>
				</div>
			</div>
		</div>
	</div>
</section>