<script type="module" src="@components/pages/production/production.js"></script>
<link rel="stylesheet" href="@components/pages/production/production.scss">


<main class="pages page--production production-page">
	<div data-fls-breadcrumbs class="pages__breadcrumbs breadcrumbs breadcrumbs-pages">
		<div class="breadcrumbs__container">
			<div class="breadcrumbs__body">
				<a data-fls-button href="#" class="breadcrumbs__button breadcrumbs__button--hover">Главная</a>
				<span class="breadcrumbs__dotted"></span>
				<span class="breadcrumbs__button breadcrumbs__button--active">Производство</span>
			</div>
		</div>
	</div>
	<section class="production-page__top top-pages">
		<div class="top-pages__container">
			<div class="top-pages__body">
				<div class="top-pages__column">
					<h2 data-fls-dynamic=".breadcrumbs__container,991.98" class="top-pages__title title">Производство</h2>
					<div class="top-pages__text">
						<p>Наша компания занимается разработкой и производством беспилотных летательных аппаратов самолётного
							типа. Мы выполняем полный цикл работ — от проектирования до окончательной сборки и тестирования
							дронов на собственных производственных мощностях. Все изделия проходят проверку на надёжность,
							эффективность и соответствие заявленным характеристикам, что гарантирует их устойчивую работу в
							самых разных условиях</p>
					</div>
				</div>
				<div class="top-pages__column top-pages__column--cover">
					<img class="top-pages__image ibg" src="@img/production/cover.png" alt="Изображение">
				</div>
			</div>
		</div>
	</section>
	<section class="production-page__possibilities possibilities">
		<div class="possibilities__container">
			<h4 class="possibilities__title title-40">Производственные возможности</h4>
			<div data-fls-grid class="possibilities__body">
				<div data-fls-grid-col="6" data-fls-grid-col-tablet="12"
					class="possibilities__item item-possibilities item-possibilities--row">
					<div class="item-possibilities__cover"><img class="item-possibilities__image ibg"
							src="@img/production/item01.png" alt="Изображение"></div>
					<div class="item-possibilities__content">
						<h6 class="item-possibilities__title">Серийное производство</h6>
						<p class="item-possibilities__text">Изготавливаем от 500 до 1000 дронов в рамках одного
							производственного цикла.</p>
					</div>
				</div>
				<div data-fls-grid-col="6" data-fls-grid-col-tablet="12"
					class="possibilities__item item-possibilities item-possibilities--row">
					<div class="item-possibilities__cover"><img class="item-possibilities__image ibg"
							src="@img/production/item02.png" alt="Изображение"></div>
					<div class="item-possibilities__content">
						<h6 class="item-possibilities__title">Работаем с юрлицами и фондами</h6>
						<p class="item-possibilities__text">Оформляем договоры, предоставляем полный комплект документов,
							работаем официально</p>
					</div>
				</div>
				<div data-fls-grid-col="4" data-fls-grid-col-tablet="12"
					class="possibilities__item item-possibilities item-possibilities--column">
					<div class="item-possibilities__cover"><img class="item-possibilities__image ibg"
							src="@img/production/item03.png" alt="Изображение"></div>
					<div class="item-possibilities__content">
						<h6 class="item-possibilities__title">Дроны с ночным видением и тепловизорами</h6>
						<p class="item-possibilities__text">Интегрируем камеры, сброс груза, поворотные модули и прочее
							оборудование</p>
					</div>
				</div>
				<div data-fls-grid-col="4" data-fls-grid-col-tablet="12"
					class="possibilities__item item-possibilities item-possibilities--column">
					<div class="item-possibilities__cover"><img class="item-possibilities__image ibg"
							src="@img/production/item04.png" alt="Изображение"></div>
					<div class="item-possibilities__content">
						<h6 class="item-possibilities__title">Подбор комплектующих под задачи</h6>
						<p class="item-possibilities__text">Подбираем компоненты и решения под конкретные цели и условия
							применения</p>
					</div>
				</div>
				<div data-fls-grid-col="4" data-fls-grid-col-tablet="12"
					class="possibilities__item item-possibilities item-possibilities--column">
					<div class="item-possibilities__cover"><img class="item-possibilities__image ibg"
							src="@img/production/item05.png" alt="Изображение"></div>
					<div class="item-possibilities__content">
						<h6 class="item-possibilities__title">Производство по ТЗ заказчика</h6>
						<p class="item-possibilities__text">Собираем дрон под ваш проект с учетом всех технических требований
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="production-page__specifications specifications">
		<div class="specifications__container">
			<h3 class="specifications__title title-40">Типовые спецификации</h3>
			<div data-fls-grid class="specifications__body">
				<div data-fls-grid-col="4" data-fls-grid-col-mobile="12" class="specifications__card card-specifications">
					<div class="card-specifications__cover">
						<img class="card-specifications__image" src="@img/production/card01.png" alt="Изображение">
					</div>
					<ul class="card-specifications__list">
						<li class="card-specifications__item">
							<h6>Тип</h6>
							<span>Камикадзе</span>
						</li>
						<li class="card-specifications__item">
							<h6>Рама</h6>
							<span>7 дюймов карбон / фанера</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полезная нагрузка</h6>
							<span>До 2 кг</span>
						</li>
						<li class="card-specifications__item">
							<h6>Моторы</h6>
							<span> MN 2806</span>
						</li>
						<li class="card-specifications__item">
							<h6>Пропеллеры</h6>
							<span>7Х4Х3</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полетный контроллер</h6>
							<span>F405. 50A</span>
						</li>
						<li class="card-specifications__item">
							<h6>Управление</h6>
							<span>ELRS 868МГц/915МГц</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видеокамера</h6>
							<span>PAL</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видео передатчик</h6>
							<span>1.2 Ггц/5.8 Ггц, 1Вт/2.5Вт</span>
						</li>
						<li class="card-specifications__item">
							<h6>АКБ</h6>
							<span>4500-6000 Mah</span>
						</li>
						<li class="card-specifications__item">
							<h6>Дальность полета/действия видео канала</h6>
							<span>10 км (20 км с ретранслятором)</span>
						</li>
						<li class="card-specifications__item">
							<h6>Время полета</h6>
							<span>10 минут</span>
						</li>
						<li class="card-specifications__item">
							<h6>Скорость</h6>
							<span> 80-120 км/ч</span>
						</li>
					</ul>
				</div>
				<div data-fls-grid-col="4" data-fls-grid-col-mobile="12" class="specifications__card card-specifications">
					<div class="card-specifications__cover">
						<img class="card-specifications__image" src="@img/production/card02.png" alt="Изображение">
					</div>
					<ul class="card-specifications__list">
						<li class="card-specifications__item">
							<h6>Тип</h6>
							<span>Камикадзе</span>
						</li>
						<li class="card-specifications__item">
							<h6>Рама</h6>
							<span>7 дюймов карбон / фанера</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полезная нагрузка</h6>
							<span>До 2 кг</span>
						</li>
						<li class="card-specifications__item">
							<h6>Моторы</h6>
							<span> MN 2806</span>
						</li>
						<li class="card-specifications__item">
							<h6>Пропеллеры</h6>
							<span>7Х4Х3</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полетный контроллер</h6>
							<span>F405. 50A</span>
						</li>
						<li class="card-specifications__item">
							<h6>Управление</h6>
							<span>ELRS 868МГц/915МГц</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видеокамера</h6>
							<span>PAL</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видео передатчик</h6>
							<span>1.2 Ггц/5.8 Ггц, 1Вт/2.5Вт</span>
						</li>
						<li class="card-specifications__item">
							<h6>АКБ</h6>
							<span>4500-6000 Mah</span>
						</li>
						<li class="card-specifications__item">
							<h6>Дальность полета/действия видео канала</h6>
							<span>10 км (20 км с ретранслятором)</span>
						</li>
						<li class="card-specifications__item">
							<h6>Время полета</h6>
							<span>10 минут</span>
						</li>
						<li class="card-specifications__item">
							<h6>Скорость</h6>
							<span> 80-120 км/ч</span>
						</li>
					</ul>
				</div>
				<div data-fls-grid-col="4" data-fls-grid-col-mobile="12" class="specifications__card card-specifications">
					<div class="card-specifications__cover">
						<img class="card-specifications__image" src="@img/production/card03.png" alt="Изображение">
					</div>
					<ul class="card-specifications__list">
						<li class="card-specifications__item">
							<h6>Тип</h6>
							<span>Камикадзе</span>
						</li>
						<li class="card-specifications__item">
							<h6>Рама</h6>
							<span>7 дюймов карбон / фанера</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полезная нагрузка</h6>
							<span>До 2 кг</span>
						</li>
						<li class="card-specifications__item">
							<h6>Моторы</h6>
							<span> MN 2806</span>
						</li>
						<li class="card-specifications__item">
							<h6>Пропеллеры</h6>
							<span>7Х4Х3</span>
						</li>
						<li class="card-specifications__item">
							<h6>Полетный контроллер</h6>
							<span>F405. 50A</span>
						</li>
						<li class="card-specifications__item">
							<h6>Управление</h6>
							<span>ELRS 868МГц/915МГц</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видеокамера</h6>
							<span>PAL</span>
						</li>
						<li class="card-specifications__item">
							<h6>Видео передатчик</h6>
							<span>1.2 Ггц/5.8 Ггц, 1Вт/2.5Вт</span>
						</li>
						<li class="card-specifications__item">
							<h6>АКБ</h6>
							<span>4500-6000 Mah</span>
						</li>
						<li class="card-specifications__item">
							<h6>Дальность полета/действия видео канала</h6>
							<span>10 км (20 км с ретранслятором)</span>
						</li>
						<li class="card-specifications__item">
							<h6>Время полета</h6>
							<span>10 минут</span>
						</li>
						<li class="card-specifications__item">
							<h6>Скорость</h6>
							<span> 80-120 км/ч</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="production-page__step step-production">
		<div class="step-production__container">
			<h3 class="step-production__title title-40">Оставьте заявку на создание БПЛА</h3>
			<p class="step-production__description description">Заполните необходимые поля, после чего мы свяжемся с вами и
				сообщим стоимость, уточним детали и оформим необходимые документы</p>
			<div class="step-production__form form-step">
				<include src="@components/forms/form/form.html"></include>
			</div>
		</div>
	</section>
	<section class="production-page__docs docs">
		<div class="docs__container">
			<h3 class="docs__title title-40">Оставьте заявку на создание БПЛА</h3>
			<p class="docs__description description">Мы работаем строго в правовом поле: все этапы разработки и
				производства дронов подтверждены необходимыми лицензиями, сертификатами и техническими регламентами</p>
			<div data-fls-grid class="docs__body">
				<a data-fls-grid-col="4" data-fls-grid-col-tablet="6" data-fls-grid-col-small="12" href=""
					class="docs__item item-docs">
					<h5 class="item-docs__title">Правила государственного учета БВС и СВС</h5>
					<div class="item-docs__bottom">
						<div class="item-docs__icon --icon-pdf"></div>
						<p class="item-docs__subtitle">Постановление Правительства № 658 </p>
					</div>
				</a>
				<a data-fls-grid-col="4" data-fls-grid-col-tablet="6" data-fls-grid-col-small="12" href=""
					class="docs__item item-docs">
					<h5 class="item-docs__title">Правила государственного учета БВС и СВС</h5>
					<div class="item-docs__bottom">
						<div class="item-docs__icon --icon-pdf"></div>
						<p class="item-docs__subtitle">Постановление Правительства № 658 </p>
					</div>
				</a>
				<a data-fls-grid-col="4" data-fls-grid-col-tablet="6" data-fls-grid-col-small="12" href=""
					class="docs__item item-docs">
					<h5 class="item-docs__title">Правила государственного учета БВС и СВС</h5>
					<div class="item-docs__bottom">
						<div class="item-docs__icon --icon-pdf"></div>
						<p class="item-docs__subtitle">Постановление Правительства № 658 </p>
					</div>
				</a>
				<a data-fls-grid-col="4" data-fls-grid-col-tablet="6" data-fls-grid-col-small="12" href=""
					class="docs__item item-docs">
					<h5 class="item-docs__title">Правила государственного учета БВС и СВС</h5>
					<div class="item-docs__bottom">
						<div class="item-docs__icon --icon-pdf"></div>
						<p class="item-docs__subtitle">Постановление Правительства № 658 </p>
					</div>
				</a>
				<a data-fls-grid-col="4" data-fls-grid-col-tablet="6" data-fls-grid-col-small="12" href=""
					class="docs__item item-docs">
					<h5 class="item-docs__title">Правила государственного учета БВС и СВС</h5>
					<div class="item-docs__bottom">
						<div class="item-docs__icon --icon-pdf"></div>
						<p class="item-docs__subtitle">Постановление Правительства № 658 </p>
					</div>
				</a>
			</div>
		</div>
	</section>
</main>