<a href="" href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide01.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Дроны</h6>
	<p class="slide-home__description">Квадрокоптеры, FPV, подводные и пр.</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide02.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Карбоновые материалы</h6>
	<p class="slide-home__description">Панели, препреги, трубы</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide03.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Запчасти</h6>
	<p class="slide-home__description">Рамы, автопилоты, передатчики и пр.</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide04.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Средства передвижения</h6>
	<p class="slide-home__description">Электросамокаты и мотоциклы</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide01.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Дроны</h6>
	<p class="slide-home__description">Квадрокоптеры, FPV, подводные и пр.</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide02.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Карбоновые материалы</h6>
	<p class="slide-home__description">Панели, препреги, трубы</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide03.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Запчасти</h6>
	<p class="slide-home__description">Рамы, автопилоты, передатчики и пр.</p>
</a>
<a href="" class="carousel-home__slide swiper-slide slide-home">
	<div class="slide-home__image"><img src="@img/home/slide04.png" alt="Изображение"></div>
	<h6 class="slide-home__title">Средства передвижения</h6>
	<p class="slide-home__description">Электросамокаты и мотоциклы</p>
</a>