<section data-fls-advantages class="home__advantages advantages">
	<div class="advantages__container">
		<h2 class="advantages__title title">Почему выбирают нас?</h2>
		<p class="advantages__description description">У нас вы найдёте всё: от простых дронов и аксессуаров до
			профессионального
			оборудования и кастомных комплектующих. Один магазин — тысячи решений</p>
		<div class="advantages" data-fls-grid>
			<div class="advantages__item" data-fls-grid-col="8" data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="12">
				<img class="item-adv__image ibg" src="@img/home/advantages.png" alt="Изображение">
			</div>
			<div class="advantages__item item-adv" data-fls-grid-col="4" data-fls-grid-col-tablet="8"
				data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<h6 class="item-adv__title --icon-lightning">Импорт электроники</h6>
				<p class="item-adv__description">Оригинальные комплектующие: контроллеры, приёмники, антенны, аккумуляторы и
					другие модули — с прямой поставкой от производителей.</p>
			</div>
			<div class="advantages__item item-adv" data-fls-grid-col="4" data-fls-grid-col-tablet="4"
				data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<h6 class="item-adv__title --icon-arrow-bold">Безопасные платежи</h6>
				<p class="item-adv__description">Гарантируем прозрачность сделок, защиту данных и своевременную доставку по
					всей России</p>
			</div>
			<div class="advantages__item item-adv" data-fls-grid-col="4" data-fls-grid-col-mobile="6"
				data-fls-grid-col-small="12">
				<h6 class="item-adv__title --icon-semicircles">Высокое качество</h6>
				<p class="item-adv__description">В ассортименте только проверенные компоненты и оборудование от известных
					производителей</p>
			</div>
			<div class="advantages__item item-adv" data-fls-grid-col="4" data-fls-grid-col-mobile="6"
				data-fls-grid-col-small="12">
				<h6 class="item-adv__title --icon-stable">Лучшие цены</h6>
				<p class="item-adv__description">Сотрудничаем напрямую с поставщиками, что позволяет удерживать доступные
					цены на технику и запчасти</p>
			</div>
		</div>
	</div>
</section>