<div data-fls-hoverlist class="hover">
	<div class="hover__wrapper">
		<div class="hover__item">
			<h5 class="hover__title">Дроны</h5>
			<ul class="hover__sublist sublist-hover">
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Квадрокоптеры</a>
				</li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Дроны для обучения</a></li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Дроны с тепловизором</a>
				</li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Водонепроницаемые дроны</a>
				</li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">FPV-дроны</a></li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Дроны РФ</a></li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Дроны самолетного типа</a>
				</li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Подводные дроны</a></li>
				<li class="sublist-hover__item"><a href="" class="sublist-hover__link">Все дроны</a></li>
			</ul>
			<h6 class="hover__subtitle">Выберите бренд</h6>
			<ul class="hover__brends brends-hover">
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/01.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/02.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/03.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/04.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/05.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/06.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/07.svg"
							alt="Изображение"></a></li>
				<li class="brends-hover__item"><a href="" class="brends-hover__link"><img src="@img/logos/08.svg"
							alt="Изображение"></a></li>
			</ul>
		</div>
	</div>
</div>