<section data-fls-specifications class="pages__specifications specifications">
	<div class="specifications__container">
		<h4 class="specifications__title title-40">Характеристики</h4>
		<div class="specifications__row row-specifications">
			<h5 class="row-specifications__title">Габариты и вес</h5>
			<div data-fls-grid class="row-specifications__body">
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Взлетная масса</h6>
					<p class="row-specifications__description">920 г</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Размеры</h6>
					<p class="row-specifications__description">347.5×283×107.7 мм (в разложенном виде без пропеллеров)</p>
					<p class="row-specifications__description">221×96.3×90.3 мм (в сложенном виде без пропеллеров)</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Размер по диагонали</h6>
					<p class="row-specifications__description">380.1 мм</p>
				</div>
			</div>
		</div>
		<div class="specifications__row row-specifications">
			<h5 class="row-specifications__title">Полет</h5>
			<div data-fls-grid class="row-specifications__body">
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. скорость набора высоты</h6>
					<p class="row-specifications__description">1/2-дюймовый CMOS, эффективные пиксели: 48 МП</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. скорость снижения</h6>
					<p class="row-specifications__description">6 м/с</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. горизонтальная скорость (на уровне моря, без ветра)</h6>
					<p class="row-specifications__description">Вперед: 21 м/с, сбоку: 20 м/с, назад: 19 м/с (спортивный
						режим)</p>
					<p class="row-specifications__description">15 м/с (стандартный режим)</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. высота взлета</h6>
					<p class="row-specifications__description">6000 м (без полезной нагрузки)</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. полётное время</h6>
					<p class="row-specifications__description">45 мин</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. время парения</h6>
					<p class="row-specifications__description">38 мин</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. полетное расстояние</h6>
					<p class="row-specifications__description">32 км</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. допустимая скорость ветра</h6>
					<p class="row-specifications__description">12 м/c</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. угол наклона</h6>
					<p class="row-specifications__description">30° (нормальный режим)</p>
					<p class="row-specifications__description">35° (спортивный режим)</p>
				</div>
				<div data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Диапазон точности парения</h6>
					<p class="row-specifications__description">По вертикали: ±0,1 м (с системой обзора); ±0,5 м (с ГНСС);
						±0,1 м (с RTK)</p>
					<p class="row-specifications__description">По горизонтали: ±0,3 м (с системой обзора); ±0,5 м (с системой
						высокоточного позиционирования); ±0,1 м (с RTK)</p>
				</div>
			</div>
		</div>
		<div class="specifications__row row-specifications">
			<h5 class="row-specifications__title">Камера</h5>
			<div data-fls-grid class="row-specifications__body">
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Матрица</h6>
					<p class="row-specifications__description">1/2-дюймовый CMOS, эффективные пиксели: 48 МП</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Объектив</h6>
					<p class="row-specifications__description">Диафрагма: f/2,8 , угол обзора: 84° , Фокус: 1 м до ∞ ,
						Эквивалент формата: 24 мм</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Диапазон ISO</h6>
					<p class="row-specifications__description">100 - 25600</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Скорость затвора</h6>
					<p class="row-specifications__description">Электронный затвор: 8-1/8000 с</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Диапазон угловых вибраций</h6>
					<p class="row-specifications__description">±0,007°</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. размер изображения</h6>
					<p class="row-specifications__description">8000×6000</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Режимы фотосъемки</h6>
					<p class="row-specifications__description">JPEG: 2/3/5/7/ 10/15/20/30/60 с , Интеллектуальная съемка при
						слабом освещении: 12 МП , Панорама: 12 МП (необработанное изображение); 100 МП (сшитое изображение) ,
						Покадровый: 12 МП/48 МП , Таймер: 12 МП/48 МП</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Макс. битрейт видео</h6>
					<p class="row-specifications__description">4K: 85 Мбит/с</p>
					<p class="row-specifications__description">FHD: 30 Мбит/с</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Поддерживаемые файловые системы</h6>
					<p class="row-specifications__description">exFAT</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Фотоформаты</h6>
					<p class="row-specifications__description">JPEG</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Разрешение видео</h6>
					<p class="row-specifications__description">H.264 4K: 3840×2160 при 30 кадрах в секунду</p>
					<p class="row-specifications__description">FHD: 1920×1080 при 30 кадрах в секунду</p>
				</div>
			</div>
		</div>
		<div class="specifications__row row-specifications">
			<h5 class="row-specifications__title">Стабилизатор</h5>
			<div data-fls-grid class="row-specifications__body">
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Стабилизация</h6>
					<p class="row-specifications__description">1/2-дюймовый CMOS, эффективные пиксели: 48 МП</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Механический диапазон</h6>
					<p class="row-specifications__description">Наклон: от -135° до 45°
					</p>
					<p class="row-specifications__description">Панорамирование: от -27° до
						27°</p>
					<p class="row-specifications__description">Поворот: от -45° до 45°</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Управляемый диапазон</h6>
					<p class="row-specifications__description">Наклон: от -90° до 35°</p>
					<p class="row-specifications__description">Панорамирование: не регулируется</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Скорость затвора</h6>
					<p class="row-specifications__description">Макс. управляемая скорость (наклон)</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Диапазон угловых вибраций</h6>
					<p class="row-specifications__description">±0,007°</p>
				</div>
			</div>
		</div>
		<div class="specifications__row row-specifications">
			<h5 class="row-specifications__title">Другое</h5>
			<div data-fls-grid class="row-specifications__body">
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Глобальные системы навигации</h6>
					<p class="row-specifications__description">1/2-дюймовый CMOS, эффективные пиксели: 48 МП</p>
				</div>
				<div data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4" data-fls-grid-col-small="12"
					class="row-specifications__item">
					<h6 class="row-specifications__subtitle">Диапазон рабочих температур</h6>
					<p class="row-specifications__description">-10°C ~ 40°C</p>
				</div>
			</div>
		</div>
	</div>
</section>