<div data-fls-tabs data-fls-tabs-animate data-fls-tabs-closable class="tabs tabs__header header-tabs">
	<nav data-fls-tabs-titles class="header-tabs__navigation">
		<button type="button" class="header-tabs__title --icon-fpv">Дроны<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-electric">Электрооборудование<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-samokat">Средства передвижения<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-micro">Компоненты для сборки дронов<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-joystick">Оборудование для дронов<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-carbon">Карбоновые материалы<span
				class="--icon-spoller-right"></span></button>
		<button type="button" class="header-tabs__title --icon-optic">Прицелы<span
				class="--icon-spoller-right"></span></button>
	</nav>
	<div data-fls-tabs-body class="header-tabs__content">
		<div class="header-tabs__body">
			<include src="@components/custom/hoverlist/hoverlist.html"></include>
		</div>
		<div class="header-tabs__body">
			2
		</div>
		<div class="header-tabs__body">
			3
		</div>
		<div class="header-tabs__body">
			4
		</div>
		<div class="header-tabs__body">
			5
		</div>
		<div class="header-tabs__body">
			6
		</div>
		<div class="header-tabs__body">
			7
		</div>
	</div>
</div>