<section data-fls-advprod class="pages__advproducts advproducts">
	<div class="advproducts__container">
		<h4 class="advproducts__title title-40">Основные преимущества</h4>
		<ul class="advproducts__list list-pages">
			<li class="list-pages__item">Тепловизионная камера с возможностью определения температурных отклонений на
				расстоянии и отображения тепловых данных в режиме реального времени. Хорошее решение для инспектирования
				инфраструктуры, выявления теплопотерь и поиска людей</li>
			<li class="list-pages__item">Высококачественная визуальная съемка с разрешением 20 Мп и 56-кратным гибридным
				увеличением позволяет получать детальные снимки с больших расстояний. Это незаменимый инструмент для осмотра
				объектов, создания карт и других задач, требующих четкости и детализации</li>
			<li class="list-pages__item">Интеллектуальные возможности и автоматизация. DJI 3T оснащен современными
				функциями, такими как интеллектуальное планирование маршрута, автоматический облет препятствий и мощные
				алгоритмы анализа данных, что делает его незаменимым помощником в реализации сложных задач</li>
			<li class="list-pages__item">Надежность и безопасность. Передовые системы навигации и сенсоры обнаружения
				препятствий обеспечивают безопасные полеты даже в самых неблагоприятных условиях, позволяя вам
				сосредоточиться на выполнении задачи, не переживать о стабильности работы квадрокоптера</li>
			<li class="list-pages__item">Удобство в использовании. Простое управление и понятный интерфейс делают Mavic 3T
				доступным как для опытных операторов, так и для начинающих пользователей дронов</li>
		</ul>
		<div class="advproducts__content content-products">
			<div data-fls-grid class="content-products__body">
				<div data-fls-grid-col="12" class="content-products__cover">
					<div class="content-products__text">
						<h5 class="content-products__title">Длительный полёт до 45 минут</h5>
						<p class="content-products__description">Удобство в использовании. Простое управление и понятный
							интерфейс делают Mavic 3T доступным как для опытных операторов, так и для начинающих пользователей
							дронов. Аккумуляторы заряжаются быстро благодаря зарядному концентратору мощностью 100 Вт</p>
					</div>
					<img class="content-products__image ibg" src="@img/product/cover01.png" alt="Изображение">
				</div>
				<div data-fls-grid-col="6" data-fls-grid-col-tablet="12" class="content-products__cover">
					<div class="content-products__text">
						<h5 class="content-products__title">Поддержка модулей RTK и строгая связь</h5>
						<p class="content-products__description">Совместим с RTK-модулями для точного позиционирования,
							необходимого в картографии и точном мониторинге. Передача данных через DJI RC Pro Enterprise
							обеспечивает стабильную и надёжную связь при дальних полётах</p>
					</div>
					<img class="content-products__image ibg" src="@img/product/cover02.png" alt="Изображение">
				</div>
				<div data-fls-grid-col="6" data-fls-grid-col-tablet="12" class="content-products__cover">
					<div class="content-products__text">
						<h5 class="content-products__title">Двойная оптика</h5>
						<p class="content-products__description">Тепловизор и визуальная камера в одном корпусе. Можно
							переключаться между ними или совмещать для максимальной информативности</p>
					</div>
					<img class="content-products__image ibg" src="@img/product/cover03.png" alt="Изображение">
				</div>
			</div>
		</div>
	</div>
</section>