// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки стилей по умолчанию
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Шрифты
$fontFamily: "Inter"; // Шрифт по умолчанию
$fontFamily2: "Xolonium";
$fontSize: 16; // Размер шрифта по умолчанию (где 16 - размер шрифта по умолчанию из макета)

// Основные цвета
$mainColor: var(--main-color); // Цвет шрифта по умолчанию
$whiteColor: var(--white-text);
$buttonColor: var(--button-color);
$productColor1: var(--product-color);
$productColor2: var(--product-color-2);
$bgColor1: var(--bg-color);
$bgColor2: var(--bg-color2);
$filterColor: var(--filter-color);
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки адаптивной сетки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1444;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпойнта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпойнты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпойнтов),
// 2 = по брейкпойнтам (контейнер меняет свою ширину по брейкпойнтам)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
