@font-face {font-family: Xolonium;font-display: swap;src: url("@fonts/Xolonium.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Inter;font-display: swap;src: url("@fonts/Inter-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Inter;font-display: swap;src: url("@fonts/Inter-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: FiraCode;font-display: swap;src: url("@fonts/FiraCode-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
