<section data-fls-brends class="pages__brends brends brends--lvlone">
	<div class="brends__container">
		<h2 class="brends__title title-40">Популярные бренды</h2>
		<!-- Оболочка слайдера -->
		<div data-fls-slider class="brends__slider swiper">
			<!-- Часть слайдера, которая движется -->
			<div class="brends__wrapper swiper-wrapper">
				<!-- Слайд -->
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/02.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/01.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/03.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/04.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/05.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/06.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/07.svg" alt="Изображение"></a>
				<a href="" class="brends__slide swiper-slide"><img src="@img/logos/08.svg" alt="Изображение"></a>
			</div>
			<button type="button" class="swiper-button-preview --icon-spoller-right"></button>
			<button type="button" class="swiper-button-nextus --icon-spoller-right"></button>
		</div>
	</div>
</section>