<section data-fls-areas class="home__areas areas">
	<div class="areas__container">
		<h2 class="areas__title title">Сферы применения дронов</h2>
		<div class="areas__grid grid-areas" data-fls-grid>
			<div class="grid-areas__item" data-fls-grid-col="6" data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title">Развлечения</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas01.jpg" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="3" data-fls-grid-row="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title">Обучение</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas02.jpg" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="3" data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title">Электромонтаж</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas03.png" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="3" data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6"
				data-fls-grid-col-small="12">
				<h6 class="grid-areas__title">Сельское<br> хозяйство</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas04.jpg" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="3" data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title">Картография</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas05.png" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="3" data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="2"
				data-fls-grid-row-mobile="1" data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title grid-areas__title--br">Военного<br> назначения</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas06.jpg" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="4" data-fls-grid-col-mobile="6">
				<h6 class="grid-areas__title">Промышленные<br> работы</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas07.png" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="4" data-fls-grid-row-tablet="2" data-fls-grid-col-mobile="6"
				data-fls-grid-row-mobile="1">
				<h6 class="grid-areas__title">Спасательные<br> операции</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas08.png" alt="Изображение">
			</div>
			<div class="grid-areas__item" data-fls-grid-col="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<h6 class="grid-areas__title">Геодезия</h6>
				<img class="grid-areas__image ibg" src="@img/home/areas09.png" alt="Изображение">
			</div>
		</div>
	</div>
</section>