<section data-fls-category class="pages__category category">
	<div class="category__container">
		<div class="category__title title-40">Категории</div>
		<div data-fls-grid class="category__body">
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category01.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Квадрокоптеры</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category02.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Дроны для обучения</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category03.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Дроны с тепловизором</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category04.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Водонепроницаемые дроны</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category05.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">FPV-дроны</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category06.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Дроны РФ</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category07.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Дроны самолетного типа</h6>
			</a>
			<a href="" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-col-mobile="4"
				data-fls-grid-col-small="6" class="category__item item-category">
				<div class="item-category__wrapper">
					<img src="@img/catalog/category08.png" alt="Изображение">
				</div>
				<h6 class="item-category__title">Подводные дроны</h6>
			</a>
		</div>
	</div>
</section>