<section data-fls-recommend class="pages__recommend recommend">
	<div class="recommend__container">
		<h4 class="recommend__title title-40">Рекомендуем</h4>
		<!-- Оболочка слайдера -->
		<div data-fls-slider class="recommend__slider swiper">
			<!-- Часть слайдера, которая движется -->
			<div class="recommend__wrapper swiper-wrapper">
				<!-- Слайд -->
				<a href="" class="recommend__slide swiper-slide product-card">
					<figure class="product-card__cover">
						<h6 class="product-card__title">Квадрокоптеры</h6>
						<img src="@img/catalog/product.png" alt="Изображение">
					</figure>
					<figcaption class="product-card__description"><span>Квадрокоптер JSI D15
							Enterprise</span><span>1 914
							000
							₽</span>
					</figcaption>
				</a>
				<a href="" class="recommend__slide swiper-slide product-card">
					<figure class="product-card__cover">
						<h6 class="product-card__title">Квадрокоптеры</h6>
						<img src="@img/catalog/product.png" alt="Изображение">
					</figure>
					<figcaption class="product-card__description"><span>Квадрокоптер JSI D15
							Enterprise</span><span>1 914
							000
							₽</span>
					</figcaption>
				</a>
				<a href="" class="recommend__slide swiper-slide product-card">
					<figure class="product-card__cover">
						<h6 class="product-card__title">Квадрокоптеры</h6>
						<img src="@img/catalog/product.png" alt="Изображение">
					</figure>
					<figcaption class="product-card__description"><span>Квадрокоптер JSI D15
							Enterprise</span><span>1 914
							000
							₽</span>
					</figcaption>
				</a>
				<a href="" class="recommend__slide swiper-slide product-card">
					<figure class="product-card__cover">
						<h6 class="product-card__title">Квадрокоптеры</h6>
						<img src="@img/catalog/product.png" alt="Изображение">
					</figure>
					<figcaption class="product-card__description"><span>Квадрокоптер JSI D15
							Enterprise</span><span>1 914
							000
							₽</span>
					</figcaption>
				</a>
				<a href="" class="recommend__slide swiper-slide product-card">
					<figure class="product-card__cover">
						<h6 class="product-card__title">Квадрокоптеры</h6>
						<img src="@img/catalog/product.png" alt="Изображение">
					</figure>
					<figcaption class="product-card__description"><span>Квадрокоптер JSI D15
							Enterprise</span><span>1 914
							000
							₽</span>
					</figcaption>
				</a>
			</div>
			<!-- Если нужна навигация (влево/вправо) -->
			<button type="button" class="swiper-button-prev --icon-spoller-right"></button>
			<button type="button" class="swiper-button-next --icon-spoller-right"></button>
		</div>
	</div>
</section>