<header data-fls-header data-fls-header-scroll class="header">
	<a data-fls-button data-fls-scrollto=".header" href="#" class="header__fixbutton fixbutton --icon-arrow-right"></a>
	<div class="header__top top-header">
		<div class="header__container">
			<div class="top-header__body">
				<div class="top-header__left">
					<a href="" class="header__logo"><img src="@img/logo.svg" alt=""></a>
					<div data-fls-spollers class="top-header__spollers spollers">
						<details class="spollers__item">
							<summary data-fls-spollers-close class="spollers__title spollers__title--header">Каталог</summary>
							<div class="spollers__body spollers__body--header">
								<div class="spollers__container">
									<include src="@components/layout/tabs/tabs.html"></include>
								</div>
							</div>
						</details>
					</div>
					<form class="top-header__search search-header" action="#" method="GET">
						<div class="search-header__body">
							<input type="search" name="form[search]" placeholder="Найти товар" class="search-header__input">
							<button data-fls-button type="reset"
								class="search-header__reset --icon-reset"><span></span></button>
							<button type="submit" class="search-header__button --icon-search"></button>
						</div>
					</form>
					<div class="top-header__end"></div>
				</div>
				<div class="top-header__right">
					<div data-fls-dynamic=".top-header__left,991.98" class="header__feedback">
						<a data-fls-button data-fls-dynamic=".menu__body,767.98" href="#"
							class="header__button button">Связаться с
							нами</a>
					</div>
					<div data-fls-dynamic=".top-header__end,991.98" class="top-header__profile profile-icon">
						<a data-fls-popup-link="signin" data-fls-button href="#"
							class="profile-icon__button --icon-profile"></a>
						<div class="profile-icon__body">
							<a href="" class="profile-icon__link">Личные данные</a>
							<a href="" class="profile-icon__link">Заказы</a>
							<a href="" class="profile-icon__link">Выйти</a>
						</div>
					</div>
					<div data-fls-dynamic=".top-header__end,991.98" class="top-header__cart cart-icon">
						<a data-fls-button href="cart-page.html" class="cart-icon__button --icon-cart"><span
								class="cart-icon__quantity" data-fls-addtocart>0</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom bottom-header">
		<div class="bottom-header__container">
			<div data-fls-dynamic=".top-header__left,767.98,last" class="bottom-header__menu menu">
				<button data-fls-dynamic=".top-header__end,767.98" type="button" data-fls-menu
					class="menu__icon icon-menu"><span></span></button>
				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item"><a href="" class="menu__link --icon-box">Доставка и оплата</a></li>
						<li class="menu__item"><a href="" class="menu__link --icon-gear">Производство</a></li>
						<li class="menu__item"><a href="" class="menu__link --icon-peoples">Сотрудничество</a></li>
						<li class="menu__item"><a href="" class="menu__link">О компании</a></li>
						<li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="bottom-header__contacts">
				<a data-fls-button href="#" class="bottom-header__link">triplex.office@mail.ru </a>
				<a data-fls-button href="#" class="bottom-header__link">+7 (912) 853-87-77</a>
			</div>
		</div>
	</div>
</header>