<header data-fls-header data-fls-header-scroll class="header">
	<a data-fls-button data-fls-scrollto=".header" href="#" class="header__fixbutton fixbutton --icon-arrow-right"></a>
	<div class="header__top top-header">
		<div class="header__container">
			<div class="top-header__body">
				<div class="top-header__left">
					<a href="" class="header__logo"><img src="@img/logo.svg" alt=""></a>
					<div data-fls-spollers class="top-header__spollers spollers">
						<details class="spollers__item">
							<summary data-fls-spollers-close class="spollers__title spollers__title--header">Каталог</summary>
							<div class="spollers__body spollers__body--header">
								<div class="spollers__container">
									<include src="@components/layout/tabs/tabs.html"></include>
								</div>
							</div>
						</details>
					</div>
					<form class="top-header__search search-header" action="#" method="GET" data-fls-search>
						<div class="search-header__body">
							<input type="search" name="search" placeholder="Найти товар" class="search-header__input"
								oninput="filterSearchResults(this.value)">
							<button data-fls-button data-fls-reset type="reset" class="search-header__reset --icon-reset"
								onclick="resetSearch()" style="display: none;"><span></span></button>
							<button type="submit" class="search-header__button --icon-search"></button>
						</div>
						<div class="search-header__content" id="searchContent" style="display: none;">
							<a href="" class="search-header__item item-search" data-keywords="квадрокоптеры dji дрон">
								<div class="item-search__image"><img src="@img/search/01.png" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">Квадрокоптеры DJI</h6>
									<p class="item-search__desc">Категория</p>
								</div>
							</a>
							<a href="" class="search-header__item item-search" data-keywords="оборудование dji дрон">
								<div class="item-search__image"><img src="@img/search/02.png" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">Оборудование для дронов DJI</h6>
									<p class="item-search__desc">Категория</p>
								</div>
							</a>
							<a href="" class="search-header__item item-search" data-keywords="dji бренд">
								<div class="item-search__image"><img src="@img/logos/01.svg" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">DJI</h6>
									<p class="item-search__desc">Бренд</p>
								</div>
							</a>
							<a href="" class="search-header__item item-search" data-keywords="dji crystalsky монитор">
								<div class="item-search__image"><img src="@img/search/02.png" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">DJI Монитор CrystalSky</h6>
									<p class="item-search__desc">115 800 ₽</p>
								</div>
							</a>
							<a href="" class="search-header__item item-search"
								data-keywords="квадрокоптер dji matrice 350 rtk combo">
								<div class="item-search__image"><img src="@img/search/03.png" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">Квадрокоптер DJI Matrice 350 RTK Combo</h6>
									<p class="item-search__desc">2 538 400 ₽</p>
								</div>
							</a>
							<a href="" class="search-header__item item-search" data-keywords="товар">
								<div class="item-search__image"><img src="@img/search/04.png" alt="Изображение"></div>
								<div class="item-search__text">
									<h6 class="item-search__title">Товар</h6>
									<p class="item-search__desc">Цена</p>
								</div>
							</a>
						</div>
					</form>
					<div class="top-header__end"></div>
				</div>
				<div class="top-header__right">
					<div data-fls-dynamic=".top-header__left,991.98" class="header__feedback">
						<a data-fls-button data-fls-dynamic=".menu__body,767.98" href="#"
							class="header__button button">Связаться с нами</a>
					</div>
					<div data-fls-dynamic=".top-header__end,991.98" class="top-header__profile profile-icon">
						<a data-fls-popup-link="signin" data-fls-button href="#"
							class="profile-icon__button --icon-profile"></a>
						<div class="profile-icon__body">
							<a href="" class="profile-icon__link">Личные данные</a>
							<a href="" class="profile-icon__link">Заказы</a>
							<a href="" class="profile-icon__link">Выйти</a>
						</div>
					</div>
					<div data-fls-dynamic=".top-header__end,991.98" class="top-header__cart cart-icon">
						<a data-fls-button href="cart-page.html" class="cart-icon__button --icon-cart"><span
								class="cart-icon__quantity" data-fls-addtocart>0</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom bottom-header">
		<div class="bottom-header__container">
			<div data-fls-dynamic=".top-header__left,767.98,last" class="bottom-header__menu menu">
				<button data-fls-dynamic=".top-header__end,767.98" type="button" data-fls-menu
					class="menu__icon icon-menu"><span></span></button>
				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item"><a href="" class="menu__link --icon-box">Доставка и оплата</a></li>
						<li class="menu__item"><a href="" class="menu__link --icon-gear">Производство</a></li>
						<li class="menu__item"><a href="" class="menu__link --icon-peoples">Сотрудничество</a></li>
						<li class="menu__item"><a href="" class="menu__link">О компании</a></li>
						<li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="bottom-header__contacts">
				<a data-fls-button href="#" class="bottom-header__link">triplex.office@mail.ru </a>
				<a data-fls-button href="#" class="bottom-header__link">+7 (912) 853-87-77</a>
			</div>
		</div>
	</div>
</header>
<script>
	function filterSearchResults(query) {
		const content = document.querySelector('[data-fls-search] #searchContent');
		const resetButton = document.querySelector('[data-fls-search] [data-fls-reset]');
		if (!content) return;
		const items = content.querySelectorAll('.item-search');
		query = query.trim().toLowerCase();

		if (query === '') {
			content.style.display = 'none';
			resetButton.style.display = 'none';
			items.forEach(item => item.style.display = 'block');
			return;
		}

		content.style.display = 'flex';
		resetButton.style.display = 'flex';
		items.forEach(item => {
			const keywords = item.getAttribute('data-keywords').toLowerCase();
			item.style.display = keywords.includes(query) ? 'flex' : 'none';
		});
	}

	function resetSearch() {
		const input = document.querySelector('[data-fls-search] .search-header__input');
		const content = document.querySelector('[data-fls-search] #searchContent');
		const resetButton = document.querySelector('[data-fls-search] [data-fls-reset]');
		input.value = '';
		content.style.display = 'none';
		resetButton.style.display = 'none';
		content.querySelectorAll('.item-search').forEach(item => item.style.display = 'block');
	}
</script>