<input data-fls-input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Введите..."
	class="input">
<input data-fls-input data-fls-input-mask="+7(999) 999-9999" autocomplete="off" type="text" name="form[]"
	data-error="Ошибка" placeholder placeholder="Введите..." class="input">
<textarea data-fls-input autocomplete="off" name="form[]" placeholder="Введите..." data-error="Ошибка"
	class="input"></textarea>
<textarea data-fls-input data-fls-input-autoheight autocomplete="off" name="form[]" placeholder="Введите..."
	data-error="Ошибка" class="input"></textarea>