<section data-fls-accessories class="pages__accessories accessories">
	<div class="accessories__container">
		<h4 class="accessories__title title-40">Аксессуары</h4>
		<div class="accessories__products products__body" data-fls-grid>
			<a href="" class="products__item product-card" data-fls-grid-col="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-small="5">
				<figure class="product-card__cover">
					<h6 class="product-card__title">Оборудование</h6>
					<img src="@img/catalog/product02.png" alt="Изображение">
				</figure>
				<figcaption class="product-card__description"><span>Усилитель сигнала AvengeAngel StarShip</span><span>361
						200 ₽</span>
				</figcaption>
			</a>
			<a href="" class="products__item product-card" data-fls-grid-col="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-small="5">
				<figure class="product-card__cover">
					<h6 class="product-card__title">Оборудование</h6>
					<img src="@img/catalog/product02.png" alt="Изображение">
				</figure>
				<figcaption class="product-card__description"><span>Усилитель сигнала AvengeAngel StarShip</span><span>361
						200 ₽</span>
				</figcaption>
			</a>
			<a href="" class="products__item product-card" data-fls-grid-col="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-small="5">
				<figure class="product-card__cover">
					<h6 class="product-card__title">Оборудование</h6>
					<img src="@img/catalog/product02.png" alt="Изображение">
				</figure>
				<figcaption class="product-card__description"><span>Усилитель сигнала AvengeAngel StarShip</span><span>361
						200 ₽</span>
				</figcaption>
			</a>
			<a href="" class="products__item product-card" data-fls-grid-col="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-small="5">
				<figure class="product-card__cover">
					<h6 class="product-card__title">Оборудование</h6>
					<img src="@img/catalog/product02.png" alt="Изображение">
				</figure>
				<figcaption class="product-card__description"><span>Усилитель сигнала AvengeAngel StarShip</span><span>361
						200 ₽</span>
				</figcaption>
			</a>
			<a href="" class="products__item product-card" data-fls-grid-col="2" data-fls-grid-col-tablet="4"
				data-fls-grid-col-small="5">
				<figure class="product-card__cover">
					<h6 class="product-card__title">Оборудование</h6>
					<img src="@img/catalog/product02.png" alt="Изображение">
				</figure>
				<figcaption class="product-card__description"><span>Усилитель сигнала AvengeAngel StarShip</span><span>361
						200 ₽</span>
				</figcaption>
			</a>
		</div>
	</div>
</section>