<section data-fls-popular class="home__popular popular">
	<div class="popular__container">
		<h2 class="popular__title title">Популярные товары</h2>
		<div data-fls-tabs data-fls-tabs-animate class="tabs tabs__popular popular-tabs">
			<nav data-fls-tabs-titles class="popular-tabs__navigation">
				<button type="button" class="popular-tabs__title --tab-active">Дроны</button>
				<button type="button" class="popular-tabs__title">Запчасти</button>
				<button type="button" class="popular-tabs__title">Средства передвижения</button>
				<button type="button" class="popular-tabs__title">Средства противодействия</button>
				<button type="button" class="popular-tabs__title">Запчасти</button>
			</nav>
			<div data-fls-tabs-body class="popular-tabs__content">
				<div class="popular-tabs__body">
					<div class="tabs-grid" data-fls-grid>
						<a href="" class="tabs-grid__item product-card product-card--auto" data-fls-grid-col="6"
							data-fls-grid-row="2" data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="1"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Квадрокоптеры</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</a>
						<a href="" class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">FPV-дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</a>
						<a href="" class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Дроны с тепловизором</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</a>
						<a href="" class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Подводные дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</a>
						<a href="" class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Водонепроницаемые дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</a>
					</div>
				</div>
				<div class="popular-tabs__body">
					<div class="tabs-grid" data-fls-grid>
						<div class="tabs-grid__item product-card" data-fls-grid-col="6" data-fls-grid-row="2"
							data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="1" data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Квадрокоптеры</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">FPV-дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Дроны с тепловизором</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Подводные дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Водонепроницаемые дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
					</div>
				</div>
				<div class="popular-tabs__body">
					<div class="tabs-grid" data-fls-grid>
						<div class="tabs-grid__item product-card" data-fls-grid-col="6" data-fls-grid-row="2"
							data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="1" data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Квадрокоптеры</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">FPV-дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Дроны с тепловизором</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Подводные дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Водонепроницаемые дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
					</div>
				</div>
				<div class="popular-tabs__body">
					<div class="tabs-grid" data-fls-grid>
						<div class="tabs-grid__item product-card" data-fls-grid-col="6" data-fls-grid-row="2"
							data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="1" data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Квадрокоптеры</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">FPV-дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Дроны с тепловизором</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Подводные дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Водонепроницаемые дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
					</div>
				</div>
				<div class="popular-tabs__body">
					<div class="tabs-grid" data-fls-grid>
						<div class="tabs-grid__item product-card" data-fls-grid-col="6" data-fls-grid-row="2"
							data-fls-grid-col-tablet="4" data-fls-grid-row-tablet="1" data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Квадрокоптеры</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">FPV-дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Дроны с тепловизором</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Подводные дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
						<div class="tabs-grid__item product-card" data-fls-grid-col="3" data-fls-grid-col-tablet="4"
							data-fls-grid-col-mobile="6">
							<figure class="tabs-grid__cover product-card__cover">
								<h6 class="tabs-grid__title product-card__title">Водонепроницаемые дроны</h6>
								<img src="@img/catalog/product.png" alt="Изображение">
							</figure>
							<figcaption class="tabs-grid__description product-card__description"><span>Квадрокоптер JSI D15
									Enterprise</span><span>1 914
									000
									₽</span>
							</figcaption>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>