<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__top top-footer" data-fls-grid-11>
			<div class="top-footer__item" data-fls-grid-col="2" data-fls-grid-col-tablet="3" data-fls-grid-row-tablet="2"
				data-fls-grid-col-mobile="12">
				<a href="" class="top-footer__logo"><img src="@img/logo-footer.svg" alt=""></a>
			</div>
			<div data-fls-spollers="479.98" class="top-footer__item item-footer" data-fls-grid-col="2"
				data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<details class="spollers__item">
					<summary class="spollers__title item-footer__title --icon-arrow-spoller">ООО “Триплекс”</summary>
					<div class="spollers__body item-footer__body">
						<p class="item-footer__text item-footer__text--uppercase">ОГРН: 1221800010332 </p>
						<p class="item-footer__text item-footer__text--uppercase">ИНН: 1841105035</p>
						<p class="item-footer__text item-footer__text--uppercase">ОГРН: 1221800010332 </p>
					</div>
				</details>
			</div>
			<div data-fls-spollers="479.98" class="top-footer__item item-footer" data-fls-grid-col="2"
				data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<details class="spollers__item">
					<summary class="spollers__title item-footer__title --icon-arrow-spoller">Предлагаем</summary>
					<div class="spollers__body item-footer__body">
						<a href="" class="item-footer__link">Каталог</a>
						<a href="" class="item-footer__link">Производство</a>
						<a href="" class="item-footer__link">Доставка и оплата</a>
					</div>
				</details>
			</div>
			<div data-fls-spollers="479.98" class="top-footer__item item-footer" data-fls-grid-col="2"
				data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<details class="spollers__item">
					<summary class="spollers__title item-footer__title --icon-arrow-spoller">Компания</summary>
					<div class="spollers__body item-footer__body">
						<a href="" class="item-footer__link">О компании</a>
						<a href="" class="item-footer__link">Сотрудничество</a>
					</div>
				</details>
			</div>
			<div data-fls-spollers="479.98" class="top-footer__item item-footer" data-fls-grid-col="3"
				data-fls-grid-col-tablet="4" data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<details class="spollers__item">
					<summary class="spollers__title item-footer__title --icon-arrow-spoller">Контакты</summary>
					<div class="spollers__body item-footer__body">
						<a href="" class="item-footer__link">город Ижевск, ул. Пушкинская, д. 268, помещение 60</a>
						<a href="" class="item-footer__link">+7 (912) 853-87-77</a>
						<a href="" class="item-footer__link">triplex.office@mail.ru</a>
					</div>
				</details>
			</div>
		</div>
		<div class="footer__bottom bottom-footer" data-fls-grid-11>
			<div class="bottom-footer__item item-footer" data-fls-grid-col="2" data-fls-grid-col-tablet="6"
				data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<p class="item-footer__text">Дизайн и разработка сайта <br><a href=""
						class="item-footer__link">SEO-Технологии</a></p>
			</div>
			<div class="bottom-footer__item item-footer" data-fls-grid-col="2" data-fls-grid-col-tablet="5"
				data-fls-grid-col-mobile="6" data-fls-grid-col-small="12">
				<a href="" class="item-footer__link">Политика конфиденциальности</a>
			</div>
			<div class="bottom-footer__item feedback-footer" data-fls-grid-col="7" data-fls-grid-col-tablet="11"
				data-fls-grid-row-start-tablet="1" data-fls-grid-col-mobile="12" data-fls-grid-col-small="12">
				<div class="feedback-footer__content">
					<h6 class="feedback-footer__title item-footer__title">Свяжитесь со мной</h6>
					<p class="feedback-footer__text">Оставьте свои контакты и мы проконсультируем вас</p>
				</div>
				<form class="feedback-footer__form" data-fls-form="ajax" data-fls-form-popup="popup" method="POST"
					action="#" method="POST">
					<div class="feedback-footer__body">
						<input data-fls-input-mask="+7(999) 999-9999" required type="tel" name="form[phone]"
							data-fls-form-errtext="Введите номер" placeholder="Телефон" class="feedback-footer__input">
						<input type="text" name="form[name]" placeholder="Имя" class="feedback-footer__input">
						<button type="submit" class="feedback-footer__button">Оставить заявку</button>
						<label data-fls-checkbox class="feedback-footer__checkbox checkbox checkbox--footer">
							<input required data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
								name="form[privacy-check]">
							<span class="checkbox__text --icon-check">Нажимая кнопку, я даю согласие на обработку персональных
								данных, а
								также
								подтверждаю, что ознакомлен с Политикой конфиденциальности</span>
						</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</footer>