<dialog data-fls-coockie class="cookie-notice" id="cookie-notice" role="dialog" aria-labelledby="cookie-notice-title">
	<div class="cookie__container">
		<h2 id="cookie-notice-title" class="visually-hidden">Уведомление о cookies</h2>
		<p class="cookie__description">Этот сайт использует cookie, чтобы вам было удобнее им пользоваться</p>
		<div class="cookie__actions">
			<button type="button" class="cookie-accept">Принять</button>
			<a href="/privacy-policy" class="cookie-learn-more" target="_blank" rel="nofollow">Подробнее</a>
		</div>
	</div>
</dialog>