<head>
	<if condition="'[[preloader.enable]]' === 'true'">
		<include src="@components/effects/preloader/preloader.html" locals='{"once":"[[preloader.once]]"}'></include>
	</if>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
		rel="stylesheet" />
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<link rel="stylesheet" href="@styles/style.scss">
	<link rel="shortcut icon" href="@img/favicon.ico">
	<if condition="'[[keywords]]' !== ''">
		<meta name="keywords" content="[[keywords]]">
	</if>
	<if condition="'[[description]]' !== ''">
		<meta name="description" content="[[description]]">
	</if>
	<title>[[title]]</title>
</head>