<section data-fls-topmain class="home__top top-home">
	<div class="top-home__container">
		<div class="top-home__body">
			<div class="top-home__cover"><img class="top-home__image ibg" src="@img/home/banner.png" alt="Изображение">
			</div>
			<div class="top-home__column">
				<h1 class="top-home__title title">FPV-дроны</h1>
				<div class="top-home__miniature"><img src="@img/home/fpv.png" alt="Изображение"></div>
				<p class="top-home__productname">DJI Avata 2 </p>
				<a data-fls-button href="#" class="top-home__button button">Подробнее</a>
			</div>
		</div>
	</div>
</section>